.OrderList * {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* 제목 */
.orderListtitleArea {
  width: 1120px;
  margin: 60px auto;
}

.orderListtitleArea h1 {
  text-align: center;
  margin: 60px auto;
}

.orderListtitleArea {
  width: 1120px;
  margin: auto;
}

.listTitle {
  margin-top: 30px;
  margin-bottom: 10px;
}

/* 주문내역 */
.orderListInfo {
  width: 1120px;
  margin: auto auto 10px auto;
  height: auto;
  border: 1px solid gray;
  border-collapse: collapse;
  text-align: center;
}

.orderListInfo tbody,
.orderListInfo tfoot {
  border-top: 1px solid black;
}

/* 주문내역 상하단 높이 */
.orderListInfo tr:not(:first-child) {
  border-top: 1px solid black;
}

.orderListInfo a,
.orderListInfo a:visited {
  color: black;
}

/* 이미지 */
.orderListImage img {
  width: 100px;
}

/* 주문내역 폭 */
.orderListInfo tbody td {
  height: 100px;
}

/* A태그 글자 밑줄 삭제 */
.orderListInfo a {
  text-decoration: none;
}

/* 글쓰기 버튼, 주문취소 버튼 */
#writeButton,
#cancelButton {
  cursor: pointer;
  display: block;
  width: 60px;
  height: 25px;
  margin: 10px auto;
  background-color: #808080;
  color: white;
  border: none;
  text-decoration: none;
}

#nocancelButton {
  cursor: pointer;
  display: block;
  width: 80px;
  height: 25px;
  margin: 10px auto;
  background-color: #808080;
  color: white;
  border: none;
  text-decoration: none;
}

/* 페이지네이션 */
.paginations {
  margin: auto;
  text-align: center;
  padding: 40px;
}

.paginations a {
  padding: 8px 16px;
  text-decoration: none;
  color: black;
}

.paginations a.active {
  color: aliceblue;
  background-color: rgb(25, 50, 100);
}
