.ProductDetail * {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

/* 상품정보페이지 */
.productPage {
  width: 1120px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-evenly;
  height: 500px;
}

/* 상품이미지 */
.productImage {
  width: 500px;
  flex-grow: 1;
}

.detailGallery {
  display: flex;
  gap: 10px;
}

.detailGallery img {
  border: 1px solid silver;
}

.regDate {
  padding: 5px;
  font-size: 0.8em;
}

.detailImages {
  width: 80px;
  height: 80px;
}

/* 상품 정보 */
.productInfo {
  width: 500px;
  height: 100%;
  margin: 50px auto;
  text-align: center;
  border-collapse: collapse;
}

.productInfo th,
.productInfo td {
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}

/* 상품 정보 제목칸 너비 */
.productInfo th {
  width: 30%;
}

/* 상품 정보 내용칸 너비 */
.productInfo td {
  width: 70%;
}

.productInfo .originalPrice {
  color: darkgray;
  text-decoration: line-through;
}

.ProductItem .productPrice sup {
  color: red;
}

/* 수량 칸 높이 */
.productInfo tr:nth-child(4) {
  height: 60px;
}

/* 수량 */
#quantity {
  width: 80px;
  height: 40px;
  text-align: center;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

/* 장바구니, 구매 버튼 */
.buySoon,
.buyCart {
  cursor: pointer;
  display: inline-block;
  width: 150px;
  line-height: 50px;
  text-align: center;
  background-color: rgb(25, 50, 100);
  color: white;
  border: 0;
}

/* 구매 버튼 색상 */
.buyCart {
  background-color: gray;
}

/* 상품상세페이지 */
.productDetailPage {
  width: 1120px;
  margin: 50px auto;
  display: flex;
  justify-content: space-evenly;
  height: auto;
}

/* 상품상세페이지 */
.productDetailPage {
  flex-direction: column;
}

.productDetailPage ul,
.productDetailPage div {
  width: 100%;
  height: auto;
}

/* 상품상세페이지 메뉴 */
.productDetailnav {
  position: sticky;
  top: 100px;
}

.productDetailMenu {
  display: flex;
  flex: 1;
  background-color: #fff;
  /* border-radius: 10px; */
  border: 1px solid silver;
}

.productDetailMenu>li {
  flex: 1;
  text-align: center;
  line-height: 50px;
  position: relative;
}

.productDetailMenu>li:not(:first-child) {
  border-left: 1px solid silver;
}

/* 상품상세페이지 메뉴 밑줄 삭제 */
.productDetailMenu>li>a {
  text-decoration: none;
  color: black;
  display: block;
  transition: background-color 0.3s ease;
  /* 배경색 전환 애니메이션 적용 */
}

.productDetailMenu>li.active>a {
  background-color: rgb(25, 50, 100);
  color: aliceblue;
  /* 활성화된 메뉴의 글자색 변경 */
}

.productDetailTitle h2 span {
  font-size: 0.8em;
  color: gray;
}

.productDetailTitle a {
  float: right;
  font-weight: bold;
  color: gray;
}

.productDetailTitle a:hover {
  color: rgb(25, 50, 100);
}

/* 상품정보 */
.productDetailImg {
  text-align: center;
}

.detailImage,
.productReview,
.productQA,
.buyGuide {
  margin: 25px 0;
}

/* 반품/교환정보 */
/* 판매자 정보 */
.returnInfoTable,
.sellerTable {
  margin: 20px 0;
  border-collapse: collapse;
  text-decoration: none;
  border-bottom: 1px solid gray;
}

.returnInfoTable th,
.returnInfoTable td,
.sellerTable th,
.sellerTable td {
  border-top: 1px solid gray;
  padding: 14px 10px 14px 20px;
}

.returnInfoTable th,
.sellerTable th {
  font-weight: normal;
  background-color: rgba(0, 0, 0, 0.1);
}

.returnInfoTable td,
.sellerTable td {
  padding: 14px 10px 14px 20px;
}

/* 반품/교환 기준 */
.returnStandard {
  border-top: 1px solid gray;
  padding-top: 15px;
}

.returnStandardTitle {
  margin-bottom: 10px;
}

/* 결제대금예치업 등록번호 */
.registNum {
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 14px;
}

.payDepositList li {
  font-size: 12px;
}

/* 구매시 주의사항 */
.PrecautionsList li {
  font-size: 14px;
}