<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.team119.petmily.mapperInterface.BoardMapper">

	<!-- NOTICE LIST -->
	<select id="getNoticeList" resultType="com.team119.petmily.domain.NoticeDTO">
		SELECT *
		FROM NOTICE
		WHERE (#{searchPeriod} IS NULL OR
		    CASE 
		        WHEN 'week' = #{searchPeriod} THEN NOTICE_REGDATE >= DATE_SUB(NOW(), INTERVAL 1 WEEK)
		        WHEN 'month' = #{searchPeriod} THEN NOTICE_REGDATE >= DATE_SUB(NOW(), INTERVAL 1 MONTH)
		        WHEN 'firstQuarter' = #{searchPeriod} THEN NOTICE_REGDATE >= DATE_SUB(NOW(), INTERVAL 3 MONTH)
		        ELSE 1=1
		    END)
		AND (#{searchCriteria} IS NULL OR
		    CASE 
		        WHEN 'subject' = #{searchCriteria} THEN LOWER(NOTICE_TITLE) LIKE CONCAT('%', LOWER(#{searchWord}), '%')
		        WHEN 'content' = #{searchCriteria} THEN LOWER(NOTICE_CONTENT) LIKE CONCAT('%', LOWER(#{searchWord}), '%')
		        WHEN 'writer' = #{searchCriteria} THEN LOWER(NOTICE_WRITER) LIKE CONCAT('%', LOWER(#{searchWord}), '%')
		        ELSE 1=1
		    END)
		ORDER BY NOTICE_REGDATE DESC;
	</select>

	<select id="getNoticePagedList"
		resultType="com.team119.petmily.domain.NoticeDTO">
		SELECT * FROM NOTICE
		ORDER BY NOTICE_ID DESC
		LIMIT #{sno},
		#{rowsPerPage}
	</select>

	<select id="noticeTotalCount" resultType="int">
		SELECT COUNT(*) FROM
		NOTICE
	</select>


	<!-- INQUIRY LIST -->
	<select id="getInquiryList" resultType="com.team119.petmily.domain.InquiryDTO">
		SELECT INQUIRY.*, 
		(SELECT P.PRODUCT_NAME 
	     FROM PRODUCT P 
	     WHERE P.PRODUCT_ID = INQUIRY.PRODUCT_ID) AS PRODUCT_NAME
		FROM INQUIRY
		WHERE (#{searchPeriod} IS NULL OR
		    CASE 
		        WHEN 'week' = #{searchPeriod} THEN INQUIRY_REGDATE >= DATE_SUB(NOW(), INTERVAL 1 WEEK)
		        WHEN 'month' = #{searchPeriod} THEN INQUIRY_REGDATE >= DATE_SUB(NOW(), INTERVAL 1 MONTH)
		        WHEN 'firstQuarter' = #{searchPeriod} THEN INQUIRY_REGDATE >= DATE_SUB(NOW(), INTERVAL 3 MONTH)
		        ELSE 1=1
		    END)
		AND (#{searchCriteria} IS NULL OR
		    CASE 
		        WHEN 'subject' = #{searchCriteria} THEN LOWER(INQUIRY_TITLE) LIKE CONCAT('%', LOWER(#{searchWord}), '%')
		        WHEN 'content' = #{searchCriteria} THEN LOWER(INQUIRY_CONTENT) LIKE CONCAT('%', LOWER(#{searchWord}), '%')
		        WHEN 'writer' = #{searchCriteria} THEN LOWER(INQUIRY_WRITER) LIKE CONCAT('%', LOWER(#{searchWord}), '%')
		        ELSE 1=1
		    END)
		ORDER BY INQUIRY_REGDATE DESC;
	</select>

	<select id="getInquiryPagedList"
		resultType="com.team119.petmily.domain.InquiryDTO">
		SELECT * FROM INQUIRY
		ORDER BY INQUIRY_ID DESC
		LIMIT #{sno},
		#{rowsPerPage}
	</select>

	<select id="inquiryTotalCount" resultType="int">
		SELECT COUNT(*) FROM
		INQUIRY
	</select>
	
	<insert id="insertInquiry">
		INSERT INTO INQUIRY (INQUIRY_TITLE, PRODUCT_ID, INQUIRY_WRITER, INQUIRY_CONTENT) VALUES
		(#{inquiry_title},#{product_id}, #{inquiry_writer}, #{inquiry_content})
	</insert>


	<!-- REVIEW LIST -->
	
	<select id="getReviewList" resultType="com.team119.petmily.domain.ReviewDTO">
		SELECT REVIEW.*, P.PRODUCT_NAME, P.PRODUCT_MAINIMAGEPATH
	    FROM REVIEW
	    LEFT JOIN PRODUCT P ON P.PRODUCT_ID = REVIEW.PRODUCT_ID
		WHERE (#{searchPeriod} IS NULL OR
		    CASE 
		        WHEN 'week' = #{searchPeriod} THEN REVIEW_REGDATE >= DATE_SUB(NOW(), INTERVAL 1 WEEK)
		        WHEN 'month' = #{searchPeriod} THEN REVIEW_REGDATE >= DATE_SUB(NOW(), INTERVAL 1 MONTH)
		        WHEN 'firstQuarter' = #{searchPeriod} THEN REVIEW_REGDATE >= DATE_SUB(NOW(), INTERVAL 3 MONTH)
		        ELSE 1=1
		    END)
		AND (#{searchCriteria} IS NULL OR
		    CASE 
		        WHEN 'subject' = #{searchCriteria} THEN LOWER(REVIEW_TITLE) LIKE CONCAT('%', LOWER(#{searchWord}), '%')
		        WHEN 'content' = #{searchCriteria} THEN LOWER(REVIEW_CONTENT) LIKE CONCAT('%', LOWER(#{searchWord}), '%')
		        WHEN 'writer' = #{searchCriteria} THEN LOWER(REVIEW_WRITER) LIKE CONCAT('%', LOWER(#{searchWord}), '%')
		        ELSE 1=1
		    END)
		ORDER BY REVIEW_REGDATE DESC;
	</select>

	<select id="getReviewPagedList"
		resultType="com.team119.petmily.domain.ReviewDTO">
		SELECT * FROM REVIEW
		ORDER BY REVIEW_ID DESC
		LIMIT #{sno},
		#{rowsPerPage}
	</select>

	<select id="reviewTotalCount" resultType="int">
		SELECT COUNT(*) FROM
		REVIEW
	</select>

	<!-- FAQ LIST -->
	<select id="getFaqList" resultType="com.team119.petmily.domain.FaqDTO">
		SELECT *
		FROM FAQ
		WHERE (#{searchPeriod} IS NULL OR
		    CASE 
		        WHEN 'week' = #{searchPeriod} THEN FAQ_REGDATE >= DATE_SUB(NOW(), INTERVAL 1 WEEK)
		        WHEN 'month' = #{searchPeriod} THEN FAQ_REGDATE >= DATE_SUB(NOW(), INTERVAL 1 MONTH)
		        WHEN 'firstQuarter' = #{searchPeriod} THEN FAQ_REGDATE >= DATE_SUB(NOW(), INTERVAL 3 MONTH)
		        ELSE 1=1
		    END)
		AND (#{searchCriteria} IS NULL OR
		    CASE 
		        WHEN 'subject' = #{searchCriteria} THEN LOWER(FAQ_TITLE) LIKE CONCAT('%', LOWER(#{searchWord}), '%')
		        WHEN 'content' = #{searchCriteria} THEN LOWER(FAQ_CONTENT) LIKE CONCAT('%', LOWER(#{searchWord}), '%')
		        WHEN 'writer' = #{searchCriteria} THEN LOWER(FAQ_WRITER) LIKE CONCAT('%', LOWER(#{searchWord}), '%')
		        ELSE 1=1
		    END)
		ORDER BY FAQ_REGDATE DESC;
	</select>

	<select id="getFaqPagedList"
		resultType="com.team119.petmily.domain.FaqDTO">
		SELECT * FROM FAQ
		ORDER BY FAQ_ID DESC
		LIMIT #{sno},
		#{rowsPerPage}
	</select>

	<select id="faqTotalCount" resultType="int">
		SELECT COUNT(*) FROM
		FAQ
	</select>
	<!-- BOADR LIST END -->


	<!-- NOTICE CRUD -->

	<select id="getNotice"
		resultType="com.team119.petmily.domain.NoticeDTO">
		SELECT * FROM NOTICE WHERE NOTICE_ID = #{notice_id}
	</select>

	<update id="updateNotice">
		UPDATE NOTICE
		SET NOTICE_TITLE = #{notice_title},
		NOTICE_CONTENT = #{notice_content}
		WHERE NOTICE_ID = #{notice_id}
	</update>

	<insert id="insertNotice">
		INSERT INTO NOTICE (NOTICE_TITLE, NOTICE_WRITER
		,NOTICE_CONTENT) VALUES
		(#{notice_title},#{notice_writer},#{notice_content})
	</insert>

	<delete id="deleteNotice">
		DELETE FROM NOTICE WHERE NOTICE_ID = #{notice_id}
	</delete>

	<!-- NOTICE CRUD END -->


	<!-- INQUIRY CRUD -->

	<select id="getInquiry"
		resultType="com.team119.petmily.domain.InquiryDTO">
		SELECT INQUIRY.*, 
		(SELECT P.PRODUCT_NAME FROM PRODUCT P WHERE P.PRODUCT_ID = INQUIRY.PRODUCT_ID) AS PRODUCT_NAME 
		FROM INQUIRY 
		WHERE INQUIRY_ID = #{inquiry_id}
	</select>

	<update id="updateInquiry">
		UPDATE INQUIRY SET ANSWER_CONTENT =
		#{answer_content}, ANSWER_REGDATE = CURRENT_TIMESTAMP WHERE INQUIRY_ID
		= #{inquiry_id}
	</update>

	<update id="updateBoardInquiry">
		UPDATE INQUIRY SET INQUIRY_TITLE = #{inquiry_title}, PRODUCT_ID = #{product_id}, INQUIRY_CONTENT = #{inquiry_content}
		WHERE INQUIRY_ID = #{inquiry_id}
	</update>
	
	

	<delete id="deleteInquiry">
		DELETE FROM INQUIRY WHERE INQUIRY_ID = #{inquiry_id}
	</delete>

	<!-- INQUIRY CRUD END -->


	<!-- FAQ CRUD -->

	<select id="getFaq"
		resultType="com.team119.petmily.domain.FaqDTO">
		SELECT * FROM FAQ WHERE FAQ_ID = #{faq_id}
	</select>

	<update id="updateFaq">
		UPDATE FAQ
		SET FAQ_TITLE = #{faq_title}, QUESTION_TYPE
		= #{question_type},
		FAQ_CONTENT = #{faq_content}, FAQ_REGDATE =
		CURRENT_TIMESTAMP
		WHERE FAQ_ID = #{faq_id}
	</update>

	<insert id="insertFaq">
		INSERT INTO FAQ (FAQ_TITLE, FAQ_WRITER ,QUESTION_TYPE,
		FAQ_CONTENT) VALUES (#{faq_title},'펫밀리',#{question_type},#{faq_content})
	</insert>

	<delete id="deleteFaq">
		DELETE FROM FAQ WHERE FAQ_ID = #{faq_id}
	</delete>

	<!-- FAQ CRUD END -->


	<!-- REVIEW CRUD -->
	
	<insert id="insertReview">
		INSERT INTO REVIEW (REVIEW_TITLE, PRODUCT_ID, REVIEW_WRITER, REVIEW_POINT, REVIEW_CONTENT, REVIEW_IMAGE1, REVIEW_IMAGE2) VALUES
		(#{review_title},#{product_id},#{review_writer},#{review_point}, #{review_content}, #{review_image1}, #{review_image2})
	</insert>

	<select id="getReview"
		resultType="com.team119.petmily.domain.ReviewDTO">
		SELECT R.*, P.PRODUCT_NAME, P.PRODUCT_MAINIMAGEPATH,
    		CASE WHEN EXISTS (SELECT 1 FROM REVIEW_REPLY RR WHERE RR.REVIEW_ID = R.REVIEW_ID) THEN true ELSE false END AS REPLY_CHECK
		FROM REVIEW R
		LEFT JOIN PRODUCT P ON P.PRODUCT_ID = R.PRODUCT_ID 
		WHERE R.REVIEW_ID = #{review_id}
	</select>

	<update id="updateReview">
		UPDATE REVIEW
		SET REVIEW_TITLE = #{review_title},
		REVIEW_POINT = #{review_point},
		REVIEW_CONTENT = #{review_content},
		REVIEW_IMAGE1 = #{review_image1}, REVIEW_IMAGE2 = #{review_image2}
		WHERE REVIEW_ID =
		#{review_id}
	</update>

	<delete id="deleteReview">
		DELETE FROM REVIEW WHERE REVIEW_ID = #{review_id}
	</delete>
	
	<update id="updateBoardReview">
		UPDATE REVIEW SET REVIEW_TITLE = #{review_title}, PRODUCT_ID = #{product_id}, REVIEW_POINT = #{review_point}, 
		REVIEW_CONTENT = #{review_content}, REVIEW_IMAGE1 = #{review_image1}, REVIEW_IMAGE2 = #{review_image2}
		WHERE REVIEW_ID = #{review_id}
	</update>

	<select id="getReplyList"
		resultType="com.team119.petmily.domain.ReviewReplyDTO">
		SELECT RR.REPLY_ID, RR.REPLY_WRITER, RR.REPLY_CONTENT,RR.REPLY_REGDATE
		FROM REVIEW R LEFT JOIN REVIEW_REPLY RR
		ON R.REVIEW_ID = RR.REVIEW_ID
		WHERE R.REVIEW_ID = #{review_id};
	</select>
	
	<insert id="insertReply">
		INSERT INTO REVIEW_REPLY (REVIEW_ID, REPLY_WRITER, REPLY_CONTENT) VALUES
		(#{review_id},#{reply_writer},#{reply_content})
	</insert>
	
	<delete id="deleteReply">
		DELETE FROM REVIEW_REPLY WHERE REPLY_ID = #{reply_id}
	</delete>
	

	<!-- REVIEW CRUD END -->
	
	<select id="getProduct" resultType="com.team119.petmily.domain.ProductDTO">
		select * from product where product_name like CONCAT('%', LOWER(#{name}), '%')
	</select>
	
	<update id="updateNoticeCount">
		UPDATE NOTICE SET NOTICE_COUNT = NOTICE_COUNT + 1 WHERE NOTICE_ID = #{notice_id}
	</update>
	<update id="updateInquiryCount">
		UPDATE INQUIRY SET INQUIRY_COUNT = INQUIRY_COUNT + 1 WHERE INQUIRY_ID = #{inquiry_id}
	</update>
	<update id="updateReviewCount">
		UPDATE REVIEW SET REVIEW_COUNT = REVIEW_COUNT + 1 WHERE REVIEW_ID = #{review_id}
	</update>
	<update id="updateFaqCount">
		UPDATE FAQ SET FAQ_COUNT = FAQ_COUNT + 1 WHERE FAQ_ID = #{faq_id}
	</update>

</mapper>










