<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team119.petmily.mapperInterface.BoardMapper">

	<!-- BOADR LIST -->
	<select id="getNoticeList" resultType="com.team119.petmily.domain.NoticeDTO">
		SELECT * FROM NOTICE ORDER BY NOTICE_ID DESC;
	</select>
	
	<select id="getInquiryList" resultType="com.team119.petmily.domain.InquiryDTO">
		SELECT * FROM INQUIRY ORDER BY INQUIRY_ID DESC;
	</select>
	
	<select id="getReviewList" resultType="com.team119.petmily.domain.ReviewDTO">
		SELECT * FROM REVIEW ORDER BY REVIEW_ID DESC;
	</select>
	
	<select id="getFaqList" resultType="com.team119.petmily.domain.FaqDTO">
		SELECT * FROM FAQ ORDER BY FAQ_ID DESC;
	</select>
	<!-- BOADR LIST END -->
	
	
	<!-- NOTICE CRUD -->
	
	<select id="getNotice" resultType="com.team119.petmily.domain.NoticeDTO">
		SELECT * FROM NOTICE WHERE NOTICE_ID = #{notice_id}
	</select>
	
	<select id="updateNotice">
		
	</select>
	
	<!-- NOTICE CRUD END-->
	
</mapper>