<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team119.petmily.mapperInterface.ProductImageMapper">
	
	<select id="selectList" resultType="com.team119.petmily.domain.ProductImageDTO">
		SELECT pi.*, p.product_name 
		FROM PRODUCT_IMAGE AS pi
		JOIN PRODUCT AS p
		ON pi.product_id = p.product_id
	</select>
	
	<select id="selectListByID" resultType="com.team119.petmily.domain.ProductImageDTO">
		SELECT pi.*, p.product_name 
		FROM PRODUCT_IMAGE AS pi
		JOIN PRODUCT AS p
		ON pi.product_id = p.product_id
		WHERE pi.product_id=#{product_id}
	</select>
	
	<select id="selectOne" resultType="com.team119.petmily.domain.ProductImageDTO">
		select * from PRODUCT_IMAGE where pimage_id=#{pimage_id}
	</select>
	
	<insert id="insert">
		INSERT INTO PRODUCT_IMAGE(product_id, product_imagepath, product_value1)
		VALUE (#{product_id}, #{product_imagepath}, #{product_value1})
	</insert>
	
	<update id="update">
		UPDATE PRODUCT_IMAGE
		SET product_imagepath=#{product_imagepath}, product_value1=#{product_value1}
		where pimage_id=#{pimage_id}
	</update>
	
	<delete id="delete">
		DELETE FROM PRODUCT_IMAGE WHERE pimage_id=#{pimage_id}
	</delete>
	
	<sql id="search">
		<!-- 1) CONCAT('%',#{keyword},'%') 처리 -->
		<if test="keyword!=null">
			<bind name="keyVal" value="'%'+keyword+'%'"/>
		</if>
		<!-- 2) LIKE 조건문 -->
		<choose>
			<when test="searchType!=null and searchType!='all'">
				and ${searchType} LIKE #{keyVal} )
			</when>	
			<when test="searchType!=null and searchType=='all' and keyword!=null">
				and ( pimage_id LIKE #{keyVal}
					  OR product_id LIKE #{keyVal} ))
			</when>	
			<otherwise>)</otherwise>
		</choose>
	</sql>
	
	<select id="searchCri" resultType="com.team119.petmily.domain.ProductImageDTO">
		select * from PRODUCT_IMAGE
			where ( pimage_id>0 <include refid="search"></include>
			ORDER BY pimage_id DESC
			limit #{sno}, #{rowsPerPage}
		
		<!-- SELECT pi.*, p.product_name
	    FROM PRODUCT_IMAGE AS pi
	    JOIN PRODUCT AS p
	    ON p.product_id = pi.product_id
	    WHERE ( pi.pimage_id>0 <include refid="search"></include>
		ORDER BY pi.pimage_id DESC
		limit #{sno}, #{rowsPerPage} -->
	</select>
	
	<select id="searchTotalCount" resultType="int">
		select count(*) from PRODUCT_IMAGE
			where ( pimage_id>0 <include refid="search"></include>
	</select>
	
</mapper>