<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team119.petmily.mapperInterface.ProductMapper">
	<!-- <select id="selectList" resultType="com.team119.petmily.domain.ProductDTO">
		select * from PRODUCT
	</select> -->
	
	<select id="selectList" resultType="com.team119.petmily.domain.ProductDTO">
		SELECT p.*, pmp.promotion_image, pmp.promotion_discount
		FROM PRODUCT as p
		JOIN PROMOTION_PRODUCT as pmp
		ON p.promotion_id = pmp.promotion_id
	</select>
	
	<select id="selectPromotionInfoList" resultType="com.team119.petmily.domain.ProductDTO">
		SELECT *
	    FROM PROMOTION_PRODUCT
	    WHERE promotion_id IN (1, 2, 3, 4, 5)
	</select>
	
	<select id="selectPromotionList" resultType="com.team119.petmily.domain.ProductDTO">
		SELECT p.*, pmp.promotion_discount
	    FROM PRODUCT AS p
	    JOIN PROMOTION_PRODUCT AS pmp ON p.promotion_id = pmp.promotion_id
	    WHERE p.promotion_id = #{p.promotion_id}
	</select>
    
	<select id="selectedList" resultType="com.team119.petmily.domain.ProductDTO">
		SELECT p.*, pmp.promotion_discount
		FROM PRODUCT AS p
		JOIN PROMOTION_PRODUCT AS pmp ON p.promotion_id = pmp.promotion_id
		WHERE (#{param1} = 'all' OR p.product_kind = #{param1})
		AND (#{param2} = 'all' OR p.product_category = #{param2})
	</select>
	
	<select id="selectThisWeekList" resultType="com.team119.petmily.domain.ProductDTO">
		SELECT p.*, pmp.promotion_discount
		FROM PRODUCT AS p
		JOIN PROMOTION_PRODUCT AS pmp ON p.promotion_id = pmp.promotion_id
		WHERE WEEK(p.product_regdate) = WEEK(CURDATE())
	</select>
	
	<select id="selectPopularList" resultType="com.team119.petmily.domain.ProductDTO">
		SELECT p.*, pmp.promotion_discount
		FROM PRODUCT AS p
		JOIN PROMOTION_PRODUCT AS pmp ON p.promotion_id = pmp.promotion_id
		WHERE p.product_sales >= 50
		ORDER BY p.product_sales DESC
	</select>
	
	<select id="selectDiscountedList" resultType="com.team119.petmily.domain.ProductDTO">
		SELECT p.*, pmp.promotion_discount
	    FROM PRODUCT AS p
	    JOIN PROMOTION_PRODUCT AS pmp ON p.promotion_id = pmp.promotion_id
	    WHERE pmp.promotion_discount > 0
	</select>
	
	<select id="selectSearchedList" resultType="com.team119.petmily.domain.ProductDTO">		
		SELECT p.*, pmp.promotion_discount
	    FROM PRODUCT AS p
	    JOIN PROMOTION_PRODUCT AS pmp ON p.promotion_id = pmp.promotion_id
	    WHERE p.product_name LIKE CONCAT('%', #{searchKeyword}, '%')
	</select>
	
	<select id="selectOne" resultType="com.team119.petmily.domain.ProductDTO">
		SELECT * FROM PRODUCT WHERE product_id=#{product_id}
	</select>
	
	<insert id="insert">
		INSERT INTO PRODUCT(promotion_id, product_kind, product_category, product_name, product_description, product_price, product_stock, product_sales, product_mainimagepath, product_rating)
		VALUE (#{promotion_id}, #{product_kind}, #{product_category}, #{product_name}, #{product_description}, #{product_price}, #{product_stock}, #{product_sales}, #{product_mainimagepath}, #{product_rating})
	</insert>
	
	<update id="update">
		UPDATE PRODUCT
		SET promotion_id=#{promotion_id}, product_kind=#{product_kind}, product_category=#{product_category}, product_name=#{product_name}, product_description=#{product_description}, product_price=#{product_price}, product_stock=#{product_stock}, product_sales=#{product_sales}, product_regdate=#{product_regdate}, product_mainimagepath=#{product_mainimagepath}, product_rating=#{product_rating}
		where product_id=#{product_id}
	</update>
	
	<delete id="delete">
		DELETE FROM PRODUCT WHERE product_id=#{product_id}
	</delete>
</mapper>