<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team119.petmily.mapperInterface.ProductMapper">
   
   <!-- <select id="selectList" resultType="com.team119.petmily.domain.ProductDTO">
      select * from PRODUCT
   </select> -->
   
   <select id="selectList" resultType="com.team119.petmily.domain.ProductDTO">
      select p.product_id, p.promotion_id, p.product_kind, p.product_category, p.product_name, p.product_description, p.product_price, p.product_stock, p.product_sales, p.product_mainimagepath, p.product_rating, pmp.promotion_discount
      from PRODUCT as p
      join PROMOTION_PRODUCT as pmp
      on p.promotion_id = pmp.promotion_id;
   </select>
   
   <select id="selectOne" resultType="com.team119.petmily.domain.ProductDTO">
      select * from PRODUCT where product_id=#{product_id}
   </select>
   
   <insert id="insert">
      INSERT INTO PRODUCT(promotion_id, product_kind, product_category, product_name, product_description, product_price, product_stock, product_sales, product_mainimagepath, product_rating)
      VALUE (#{promotion_id}, #{product_kind}, #{product_category}, #{product_name}, #{product_description}, #{product_price}, #{product_stock}, #{product_sales}, #{product_mainimagepath}, #{product_rating})
   </insert>
   
   <update id="update">
      UPDATE PRODUCT
      SET promotion_id=#{promotion_id}, product_kind=#{product_kind}, product_category=#{product_category}, product_name=#{product_name}, product_description=#{product_description}, product_price=#{product_price}, product_stock=#{product_stock}, product_sales=#{product_sales}, product_regdate=#{product_regdate}, product_mainimagepath=#{product_mainimagepath}, product_rating=#{product_rating}
      where product_id=#{product_id}
   </update>
   
   <delete id="delete">
      DELETE FROM PRODUCT WHERE product_id=#{product_id}
   </delete>
   
</mapper>